@media (min-width: $desktop-width) {
  .container {
    max-width: 1164px;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .container {
    max-width: 768px;
    margin: 0 30px;
  }
}

@media (min-width: $mobile-width) {
  .container {
    max-width: 320px;
    margin: 0 20px;
  }
}
