.contact {
  width: 100%;
  margin-top: 121px;
}

.contact__container {
  display: flex;
justify-content: space-between;
}

.contact__right {
  width: 43%;
  margin-top: 56px;
}

.contact__text {
  width: 100%;
  font-size: 18px;
line-height: 27px;
font-weight: 500;
letter-spacing: 1.2px;
}

.contact__address p {
font-style: normal;

}

.contact__item {
  display: flex;
  flex-wrap: wrap;
align-items: center;
}

.contact__text-link {
  font-size: 16px;
  line-height: 24px;
  color: $color;
  letter-spacing: 1.2px;
}



@media (max-width: $tablet-width) {
  .contact {
    margin-top: 100px;
  }

  .contact__right {
    width: 48%;
    margin-top: 48px;
  }

  .contact__map iframe {
    width: 324px;
    height: 335px;
  }

  .contact__item {
    padding-bottom: 16px;
  }

  .contact__text {
    margin-bottom: 30px;
  }

  .contact__block {
    padding-top: 9px;
  }
.contact__address p {
margin: 0;
}

  .contact__link {
    align-self: flex-start;
   padding-right: 5px;
}
}
