.contact {
  width: 100%;
  margin-top: 121px;
}

.contact__container {
  display: flex;
justify-content: space-between;
}

.contact__right {
  width: 40%;
  margin-top: 56px;
}

.contact__right p {
  width: 100%;
  font-size: 18px;
line-height: 27px;
font-weight: 500;
}

.contact__address p {
font-style: normal;
 font-size: 16px;
  line-height: 24px;
  color: $color;
}

.contact__block li {
  display: flex;
  flex-wrap: wrap;
align-items: baseline;
}

.contact__block a {
  color: $color;
}

.contact__map {
  width: 50%;
}
.contact__map iframe {
  width: 100%;
}


@media (max-width: $tablet-width) {
  .contact {
    margin-top: 100px;
  }

  .contact__right {
    width: 48%;
    margin-top: 48px;
  }

  .contact__map iframe {
    width: 324px;
    height: 335px;
  }

  .contact__item {
    padding-bottom: 16px;
  }

  .contact__text {
    margin-bottom: 30px;
  }

  .contact__block {
    padding-top: 9px;
  }
.contact__address p {
margin: 0;
}

  .contact__block a {
    align-self: flex-start;
   padding-right: 5px;
}
}

@media (max-width: $mobile-width) {
.contact {

  margin-top: 40px;
}

  .contact__container {
flex-direction: column;
  }

  .contact__map {
    width: 100%;
    order: 2;
  }

  .contact__right {
    width: 100%;
    margin-top: 0px;
 }

 .contact__map iframe {
   width: 100%;
   margin: 0 auto;
 }
}
