.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 103px;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding: 0 45px;
    //background-color: red;
  }
  @media (max-width: $mobile-width) {
    padding: 0 15px;
    //background-color: green;
  }
}
