
.container {
width: 1164px;
margin: 0 auto;
}

@media (max-width: $desktop-width) {
  .container {
width: 680px;
margin: 0 auto;
  }
}

/*@media (max-width: $tablet-width) {
  .container {
    margin: 0 20px;
  }
}*/
