.countries {
  width: 100%;
  margin-top: 115px;
}

.countries__container {
  width: 92%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.countries__title {
  width: 90%;
  margin: 0 auto;
  font-size: 24px;
  padding-bottom: 26px;
  font-weight: 600;
  color: $color;
  letter-spacing: 2px;
}

.countries__text {
  width: 92%;
  margin: 0 auto;
  line-height: 27px;
}

.countries__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.countries__item {
  width: 90%;
  padding-bottom: 31px;
  position: relative;
  margin: 0 auto;
}

.countries__link {
  display: block;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.countries__img {
  width: 100%;
  margin: 0 AUTO;
  height: 425px;
  position: relative;
}

.countries__img::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.countries__link-text {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 color: #ffffff;
  text-transform: uppercase;
}

.item-one:before {
  content: "Греция";
  position: absolute;
  width: 215px;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  z-index: 2;
  letter-spacing: -0.4;
  color: $color;
  display: block;
  bottom: 33px;
  left: 50%;
  transform: translateX(-109px);
  letter-spacing: 1.6px;
  padding-top: 16px;
  padding-bottom: 17px;
}

.item-two {
  position: relative;
}

.item-two:before {
  content: "Албания";
  position: absolute;
  width: 215px;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  z-index: 2;
  letter-spacing: -0.4;
  color: $color;
  display: block;
  bottom: 33px;
  left: 50%;
  transform: translateX(-109px);
  letter-spacing: 1.6px;
  padding-top: 16px;
  padding-bottom: 17px;
}

.item-three {
  position: relative;
}

.item-three:before {
  content: "Македония";
  position: absolute;
  width: 215px;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  z-index: 2;
  letter-spacing: -0.4;
  color: $color;
  display: block;
  bottom: 33px;
  left: 50%;
  transform: translateX(-109px);
  letter-spacing: 1.6px;
  padding-top: 16px;
  padding-bottom: 17px;
}

.item-four {
  position: relative;
}

.item-four:before {
  content: "Черногория";
  position: absolute;
  width: 215px;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  z-index: 2;
  letter-spacing: -0.4;
  color: $color;
  display: block;
  bottom: 33px;
  left: 50%;
  transform: translateX(-109px);
  letter-spacing: 1.6px;
  padding-top: 16px;
  padding-bottom: 17px;
}

.item-five {
  position: relative;
}

.item-five:before {
  content: "Хорватия";
  position: absolute;
  width: 215px;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  z-index: 2;
  letter-spacing: -0.4;
  color: $color;
  display: block;
  bottom: 33px;
  left: 50%;
  transform: translateX(-109px);
  letter-spacing: 1.6px;
  padding-top: 16px;
  padding-bottom: 17px;
}

@media (min-width: $tablet-width) {
