.form {
  width: 100%;
  margin: 0 auto;
  height: 555px;
  background-color: $color;
  background-image: url("../img/form-desk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  left: 0;
  display: block;
  z-index: -1;
  margin-top: 91px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/form-desk2.jpg");
    background-size: cover;
  }
}

.form__container {
  display: flex;
  justify-content: space-between;
  width: 91%;
  padding-top: 48px;
}

.form__wrap {
  width: 61%;
  padding-top: 133px;
}

.form__wrap h2 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 700;
  letter-spacing: 1.6px;
  margin-bottom: 0;
}

.form__wrap p {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 1px;
  margin-top: 7px;
  width: 61%;
}

.form__popup {
  max-width: 403px;
  margin: 0px auto;
  color: #fff;
  padding: 44px 0 59px 0;
  background-color: $color;
  margin-top: 50px;
}

.form * {
  outline: none;
}

.form__body {
  position: relative;
}

.form__popup h4 {
  width: 76%;
  margin: 0 auto;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  margin-bottom: 27px;
 }

.form__item {
  margin: 0px 0px 19px 0px;
  text-align: center;
}

.form__item input {
  height: 44px;
  padding: 0px 20px;
  width: 75%;
  font-size: 14px;
  color: $color;
  transition: all 0.5s ease 0s;
}

.form__input:focus {
  box-shadow: 0 0 15px #7a956b;
}
.form__input._error {
  box-shadow: 0 0 15px red;
}

.checkbox {
}
.checkbox._error .checkbox label::before {
  box-shadow: 0 0 15px red;
}
.checkbox input {
  display: none;
}
.checkbox input:checked + .checkbox label::after {
  transform: scale(1);
 }

.checkbox label {
  font-size: 10px;
  line-height: 130%;
  display: inline-flex;
  align-items: center;
 position: relative;
  cursor: pointer;
  width: 76%;
 }

.checkbox label::before {
  content: "";
  transition: all 0.5s ease 0s;
  align-self: flex-start;
  flex: 0 0 18px;
  height: 18px;
  background-color: $color-light;
  margin: 0px 10px 0px 0px;
}

.checkbox label::after {
  content: "";
  width: 10px;
  height: 6px;
  transform: rotate(41deg);
  margin: 0;
  background-image: url("img/arrow1.svg");
  background-position: center;
  display: inline-block;
  vertical-align: top;
  z-index: 5;
  position: absolute;
  left: 4px;
  top: 4px;
}

.form__button {
  width: 303px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 43px;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.5s ease 0s;
  position: relative;
  top: 11px;
}

.form__button:hover {
  opacity: 0.3;
}
.form__button:active {
  opacity: 0.5;
}

@media (max-width: $tablet-width) {
  .form {
    width: 100%;
    margin: 0 auto;
    height: 805px;
    background-color: $color;
    background-image: url("../img/form-tablet.jpg");
    margin-top: 70px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/form-tablet2.jpg");
    }
  }
  .form__container {
    flex-direction: column;
  }

  .form__wrap {
    width: 68%;
    padding-top: 0px;
    margin: 0 auto;
  }

  .form__wrap h2 {
    font-size: 34px;
    line-height: 51px;
    text-align: center;
    padding-top: 61px;
  }

  .form__wrap p {
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    width: 83%;
    margin: 0 auto;
    margin-top: 5px;
    padding-bottom: 52px;
  }

  .form__popup {
    max-width: 403px;
    margin: 0 auto;
    color: #fff;
    padding: 44px 0;
    padding-bottom: 61px;
  }
}

@media (max-width: $mobile-width) {
  .form {
    height: 760px;
    margin-top: 35px;
   }

  .form__container {
    width: 100%;
    margin: 0 auto;
  }

  .form__wrap {
    width: 100%;
    margin: 0 auto;
  }

  .form__wrap h2 {
    margin: 0 auto;
    font-size: 24px;
    line-height: 31px;
    padding-top: 59px;
    text-align: center;
  }

  .form__wrap p {
    margin: 0 auto;
    font-size: 16px;
    line-height: 22.4px;
    width: 94%;
    margin-top: 14px;
    padding-bottom: 34px;
  }

  .form__popup {
    min-width: 290px;
    padding-top: 35px;
    padding-bottom: 50px;
  }

  .form__popup h4 {
    line-height: 25px;
    text-align: center;
  }

  .form__item input {
    width: 80%;
  }

  .form__item {
    margin: 0px 0px 18px 0px;
  }

  .form__button {
    width: 230px;
  }

  .checkbox span {
    text-align: left;
  }
}
