.main-nav {
  padding-top: 26px;
  position: relative;
}

.main-nav__toggle {
  display: none;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
}

.main-nav--closed .site-list li {
  display: block;
}

@media (max-width: $tablet-width) {
  .main-nav {
    padding-top: 0;
  }

  .main-nav__list {
    padding-top: 11px;
  }
}

@media (max-width: $mobile-width) {
  .main-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .main-nav__wrapper {
    margin: 0 auto;
  }

  .main-nav--opened {
    width: 100%;
    position: relative;
    display: block;
  }

  .page-header .main-nav--opened {
    min-height: 500px;
  }

  .page-header .main-nav--opened::before {
    content: "";
    position: absolute;
    z-index: 4;
    width: 40px;
    height: 22px;
    background-image: url("../img/logo-header-dark.svg");
    top: -22px;
    left: 0;
  }

  .main-nav__list {
    padding-top: 30px;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .main-nav__toggle {
    width: 30px;
    height: 30px;
    top: -24px;
    right: -6px;
    border: none;
    cursor: pointer;
    z-index: 2;
    display: block;
    background-color: transparent;
    outline: none;
    position: relative;
  }

  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    width: 25px;
    height: 3px;
    background-color: $color-light;
    box-shadow: 0 8px 0 0 $color-light, 0 16px 0 0 $color-light;
    transform: rotateX(45deg);
    z-index: 3;
  }

  .main-nav--opened .main-nav__toggle {
    top: -27px;
    right: -14px;
    z-index: 7;
    position: absolute;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 19px;
      height: 2px;
      top: 15px;
      left: 0;
      background-color: $color;
      z-index: 4;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .main-nav--closed .site-list li {
    display: none;
  }

  .site-list__active {
    display: block;
  }

  .main-nav--nojs .main-nav--toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .site-list li {
    display: block;
  }
}
