
.page-footer {
  width: 100%;
  margin-top: 113px;
  background-color: $color;
  padding-top: 49px;
  padding-bottom: 49px;
}

.page-footer__social {
  padding-top: 47px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 47px;
}

.page-footer__link-logo {
  color: $color-light;

 &:hover,
  &:focus,
  &:active {
    opacity: 0.5;
  }
}

.page-footer__site-list {
  width: 600px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page-footer__container {
  width: 61%;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.icon-social {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-link {
  font-size: 16px;
  line-height: 20px;
  color: $color-light;
  letter-spacing: 1.2px;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.5;
  }
}

.icon-social__icon-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


@media (max-width: $tablet-width) {
.page-footer {
 margin-top: 97px;
}

.site-link {
  font-size: 12px;
  line-height: 15px;
}



.page-footer__social-logo {
  width: 38px;
  height: 20px;
}

.page-footer__site-list {
  width: 443px;
}

.page-footer__container {
  width: 74%;
}
}

@media (max-width: $mobile-width) {

}
