.page-footer {
  width: 100%;
  margin: 0 auto;
}

.page-footer__wrap {
  width: 100%;
  margin: 0 auto;
  letter-spacing: 0.4px;
  padding-top: 55px;
}

.page-footer__block {
  width: 86%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #d7d9df;
}

.page-footer__list {
  width: 40%;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.page-footer__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: #141517;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.page-footer__title-one {
  padding-bottom: 21px;
  padding-top: 17px;
}

.page-footer__item {
  padding-bottom: 10px;
  color: rgba(20, 21, 23, 0.5);
  font-size: 14px;
  line-height: 17px;
}

.page-footer__list:last-child {
  width: 100%;
  margin: 0 auto;
}

.page-footer__contacts {
  width: 86%;
  margin: 0 auto;
  padding-top: 27px;
  border-bottom: 1px solid #d7d9df;
}

.page-footer__title-two {
  padding-bottom: 24px;
}

.page-adress__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-adress__email-desk {
  display: none;
}

.page-adress__link {
  position: relative;
}

.page-adress__email-mobile {
  color: $color-basic;
  letter-spacing: 0.4px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-decoration: underline;
  padding-left: 32px;
}

.page-adress__phone {
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: $color-basic;
  text-decoration: underline;
}

.page-footer__corporate {
  width: 86%;
  margin: 0 auto;
  padding-top: 27px;
}

.page-footer__text-bottom {
  padding-bottom: 10px;
  color: rgba(20, 21, 23, 0.5);
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.page-adress__item {
  padding-bottom: 17px;
}

.link-icon-email {
  width: 26px;
  height: 20px;
  position: absolute;
  left: -11px;
}

.link-icon-phone {
  position: absolute;
  left: -28px;
}

.page-footer__title-three {
  padding-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 80px;
  }

  .page-footer__cities {
    width: 46%;
    margin-left: 20px;
  }

  .page-footer__block {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: none;
  }

  .page-footer__title-one {
    padding-bottom: 23px;
    text-align: start;
    padding-top: 26px;
  }

  .page-footer__list {
    width: 30%;
  }

  .page-footer__list:last-child {
    width: 30%;
    margin: 0;
  }

  .page-adress__list {
    padding-left: 59px;
  }

  .page-footer__item {
    text-align: start;
  }

  .page-footer__contacts {
    width: 40%;
    margin: 0 auto;
    padding-top: 0px;
    border-bottom: none;
    border-left: 1px solid #d7d9df;
    margin-top: 27px;
  }

  .page-footer__title-two {
    text-align: start;
    padding-left: 53px;
  }

  .page-adress__item {
    text-align: start;
  }

  .page-adress__phone {
    padding-left: 41px;
  }

  .link-icon-phone {
    left: -7px;
  }

  .link-icon-email {
    position: absolute;
    left: -7px;
  }

  .page-footer__corporate {
    width: 100%;
    margin: 0 auto;
    padding-top: 29px;
    border-top: 1px solid #d7d9df;
    width: 95%;
    margin: 0 auto;
    margin-top: 8px;
  }

  .page-footer__title-three {
    padding-bottom: 7px;
  }
}
