.trip-top {
  width: 100%;
  padding-top: 210px;
}

.trip-top__container h2 {
  max-width: 800px;
  margin: 0;
  font-size: 54px;
  line-height: 66px;
  font-weight: 700;
  color: #f9fbfd;
  margin-bottom: 10px;
}

.trip-top__container p {
  font-size: 20px;
  line-height: 24px;
  color: #f9fbfd;
  margin: 0;
}

@media (max-width: $tablet-width) {
  .trip-top {
    padding-top: 220px;
  }

  .trip-top__container {
  }

  .trip-top__container h2 {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 12px;
  }

  .trip-top__container p {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: $mobile-width) {
  .trip-top {
    padding-top: 108px;
  }

  .trip-top__container h2 {
    font-size: 36px;
    line-height: 45px;
    padding-left: 15px;
    max-width: 250px;
  }

  .trip-top__container p {
    max-width: 250px;
    font-size: 16px;
    line-height: 22px;
    padding-left: 15px;
  }
}
