@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/montserrat.woff2') format('woff2'),
   url('../fonts/montserrat.woff') format('woff');
   }

   @font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/montserratmedium.woff2') format('woff2'),
    url('../fonts/montserratmedium.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local(''),
    url('../fonts/montserratsemibold.woff2') format('woff2'),
    url('../fonts/montserratsemibold.woff') format('woff');
}

@font-face {
  font-family: 'montserratbold';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/montserratbold.woff2') format('woff2'),
    url('../fonts/montserratbold.woff') format('woff');
}

