//@import "blocks/normalize";
@import "./variables.scss";
@import "./font.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-list.scss";
@import "blocks/trip-top.scss";
//@import "blocks/countries.scss";
@import "blocks/cruises.scss";
@import "blocks/advantages.scss";
@import "blocks/place.scss";
//@import "blocks/price.scss";
@import "blocks/form.scss";
@import "blocks/contact.scss";
@import "blocks/page-footer.scss";
//@import "blocks/pictures.scss";
//@import "blocks/form-popup.scss";
//@import "blocks/body.scss";

//@import "blocks/success.scss";
//@import "blocks/fail.scss";

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: $font-size;
font-style: normal;
  font-weight: 400;
  text-align: center;
  color: $color;
}

.img {
  min-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  background-color: $color-light;
  color: $color;
  text-align: center;
  vertical-align: middle;
border: none;
  outline: none;
  display: block;

  &:hover,
  &:focus {
    opacity: 0.3;
    cursor: pointer;
  }

  &:active {
    opacity: 0.3;
  }
}

a {
  text-decoration: none;
}
